Package: cinnabar-core
Version: 0.0.0
Section: development
Priority: optional
Architecture: all
Depends: libsdl2, libglew, libglm, libassimp
Maintainer: tumblegamer@gmail.com
Description: Cinnabar Core
