name: Documentation Generation
on:
  push:
    branches:
      - develop
jobs:
  Doxygen:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v2-beta # use either @v2-beta or @master. Eventually there will be a @v2 tag.
      - name: Prepare docs
        run: |
          mkdir -p build/docs
      # - name: Install Doxygen
      #   run: |
      #     cd /tmp
      #     git clone https://github.com/doxygen/doxygen.git
      #     cd doxygen
      #     mkdir build
      #     cd build
      #     cmake ..
      #     make
      #     sudo make install
      #     doxygen --version
      - name: "Generate Documentation"
        uses: mattnotmitt/doxygen-action@v1
        with:
          doxyfile-path: "doxygen/doxyfile"
      - name: Deploy
        run: |
          cp -r doxygen-out/html/* docs

      - name: commit
        continue-on-error: true
        run: |
          git config --global user.email "tumblegmaer@gmail.com"
          git config --global user.name "Github Actions"
          git add .
          git commit -m "docs update"
          git push
          exit 0

      # uses: peaceiris/actions-gh-pages@v3
      # with:
      #   github_token: ${{ secrets.GITHUB_TOKEN }}
      #   publish_dir: ./build/docs/html
      #   enable_jekyll: true
